
/***************** Custom CSS *******************/

#wrapper #content-wrapper {
  background-color: inherit !important;
}

body  {
/* background-image: linear-gradient(to bottom, #224abe ,#224abe  50%, white 50%); */
background-image: linear-gradient(to bottom, #2676c1 ,#2878c3 50%, white 50%);
background-attachment:fixed;
background-repeat: no-repeat;
}

.bg-gradient-primary {
  background-image: linear-gradient(180deg,#4e9edf 10%,#2272be 100%);
}

.sidebar-brand {
  height: 1.375rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  padding: 0 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  z-index: 1;
  color: #fff !important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #fff;
  border-bottom: solid 1px #1cc88a;
}
.navbar-light .navbar-nav .nav-link {
  color: #f5f5f5;
}

.container-fluid{
  padding-top: 20px;
  width: 90%;
}

.rowContent{
  border: solid 1px #edf0f7;
  margin: 20px 5px;
  padding: 10px;
  text-align: center;
  background-color: #f2f2f2;
}
.rowContent2{
  border: solid 1px #edf0f7;
  margin: 20px 15px;
  padding: 10px;
  text-align: center;
}

.m-t-10{
  margin-top: 10px;
}
.fw-700{
  font-weight: 700;
}

.m-r-100{
  margin-right: 100px;
}





  .text-light-blue{
    color: #bbcaf4!important;
  }
  .bg-blue2{
    background-color: #dde4f8;
  }

  .br-10{
    border-radius: 10px;
  }

  .table-striped tbody tr:nth-of-type(odd) {
      background-color: rgb(221 228 248);
  }
  .table td, .table th {
      border-top: 0;
  }

  /* .dropdown-menu.show {
      margin-left: -70px;
  } */

  .connectForm{
    margin: 25px;
  }

  /*=== Created By Chaitanya on 17th June, 2022 ===*/
  /*=== Created by Chaitanya on 17th June,2022 ===*/
  .login-wrapper {
      max-width: 500px;
      border-radius: 10px;
      margin: 50px auto;
      padding: 30px 40px;
      -webkit-box-shadow: 20px 20px 80px rgb(206, 206, 206);
              box-shadow: 20px 20px 80px rgb(206, 206, 206)
  }

  .login-h2 {
      font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 3.5rem;
      font-weight: 800;
      color: #2878c3;
  }

  .login-h4 {
      font-family: 'Poppins', sans-serif
  }

  .login-input-field {
      border-radius: 5px;
      padding: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer;
      border: 1px solid #2878c3;
      color: #2878c3
  }

  .login-input-field:hover {
      color: #7db9f0;
      border: 1px solid #7db9f0
  }

  .login-wrapper input {
      border: none;
      outline: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      width: 100%;
      padding: 0px 2px;
  }

  .fa-eye-slash.btn {
      border: none;
      outline: none;
      -webkit-box-shadow: none;
              box-shadow: none
  }

  a {
      text-decoration: none;
      color: #2878c3;
      font-weight: 700
  }

  a:hover {
      text-decoration: none;
      color: #7db9f0
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .login-checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 23px;
      width: 23px;
      background-color: rgba(107, 162, 214, 0);
      border: 1px solid rgb(40, 120, 195);
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .login-checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .login-checkmark {
    background-color: #2196F3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .login-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .login-checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .login-checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .btn.btn-block {
      border-radius: 20px;
      background-color: #2878c3;
      color: #fff
  }

  .btn.btn-block:hover {
      background-color: ##7db9f0
  }

  @media(max-width: 575px) {
      .login-wrapper {
          margin: 10px
      }
  }

  @media(max-width:424px) {
      .login-wrapper {
          padding: 30px 10px;
          margin: 5px
      }

      #forgot {
          font-size: 0.95rem
      }
  }
  

  
